body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/*------------- title and menu styling --------------*/
.topnav {
    background-color: #5176a6;
    overflow: hidden;
    height: 53px;
}
.nav-toggle {
    display: inline;
}
.topnav a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar-brand {
    margin: 0px;
    padding: 0px;
}
.topnav a:hover {
    background-color: #d0d5d9;
    color: #000;
}
.topnav a.active {
    background-color: #733646;
    color:#fff;
}


/*----------------packages container --------------------*/

.callout-container {
    height: 100vh;
    background: url("images/2019-03-16%2010.46.38.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.opaque-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.01);
}

/*------------------ jumbotron -----------------*/
.jumbotron {
    background-color: #6f9abf;
    text-decoration: none;
    list-style: none;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px;
    color: #d0d5df;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*--------------buttons---------------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #5176a6;
    border-color: #5176a6;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #733646;
    border-color: #6f9abf;
}
/*------------media-------------------*/
@media (max-width:767px) {
    .mobile {
        background-color: #5176a6;
    }
.topnav a {
    display: none;
}
.nav-icon {
    margin: 1em;
    width: 40px;
}
.nav-icon::after,
.nav-icon::before,
.nav-icon div {
    background-color:#fff;
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}
.nav-icon:hover::before {
    transform: translateY(12px) rotate(135deg)
}
.nav-icon:hover::after {
    transform: translateY(-12px) rotate(-135deg)
}
.nav-icon:hover div {
    transform: scale(0);
}
}
